requests==2.24.0
Django==3.0.7
django-cors-headers==3.4.0
django-filter==2.3.0
graphene==2.1.8
graphene-django==2.10.1
certifi==2020.4.5.1
serverless-wsgi==1.7.4
boto3==1.14.10
psycopg2-binary==2.8.5
cryptography==3.0
django-import-export==2.3.0
